<!DOCTYPE html>  
   
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 Statistic</title> 
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>  
<body>  
	<header class="header">
        <div class="header__logo">Covid 19 Awareness</div>
    </header>
    <title>Covid 19 News</title>
    <style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
        label:after {
	   content: "Choose your location:";
	   color: black;
		}
    </style>
    <form class="form"  action="/statistic" method="post"> 
    	<section id="wizard-p-12" role="tabpanel" aria-labelledby="wizard-h-12" aria-hidden="false">
		    <label for="location"> </label>
		    	<select name="location">
				    <option value="SK">Saskatchewan</option>
				    <option value="AB">Alberta</option>
				    <option value="MB">Manitoba</option>
				    <option value="QC">Quebec</option>
				    <option value="NB">New Brunwick</option>
				    <option value="YT">Yukon</option>
				    <option value="BC">British Columbia</option>
				    <option value="ON">Ontario</option>
				</select>
		    <button id='submit' type='submit'name ='register' onclick="form.action='/statistic'">Set Location</button>

		</section>
	</form>
	<div class="wrapper">
        <div class="statistic">
        <a href="/">&larr;- Back</a>
        <div>
	        
		</div>
        <p> Cumulative Covid 19 cases of <%= state %></p> 
        	<% var temp = JSON.stringify(statistic) %>
        	<% var check = JSON.parse(statistic) %>
            <% console.log(death_cases) %>
            <% var check1 = JSON.parse(death_cases) %>
            <% var check2 = JSON.parse(recovered_cases) %>
        	<% var cumulative_cases = [] %>
            <% var negative_cases = [] %>
            <% var positive = [] %>
            <% var death = [] %>
        	<% var date = [] %>
        	<% var dateCount =[] %>
        	<% count = 0 %>
        	<% for (i in check) { %>
            	<%	cumulative_cases[i] = check[i].cumulative_cases %>
                <%  negative_cases[i]  = check[i].cases %>
                <% death[i] = check1[i].cumulative_deaths %>
                <% positive[i] = check2[i].cumulative_recovered %>
            	<% dateCount[i] = count %>
            	<% date[i] = check[i].date_report %>
            	<% count++ %>
        	<% } %>
        	<% console.log(negative_cases[0]) %>
        	<% console.log(date[1]) %>
            <table style="width:1500px" border="0">
                <tr>
		          <td style="text-align:left;"><canvas id="myCanvas" width="800" height="600" style="border: 1px solid black;"></canvas></td>
                  <td style="text-align:right;"><p>Cumulative cases:</p><hr style="width:20%; border-color: blue; border-width: 2px;">
                    <p>Recovered cases:</p><hr style="width:20%; border-color: yellow;">
                    <p>Motality cases:</p><hr style="width:20%; border-color: black;">
                    <p>Current negative cases:</p><hr style="width:20%; border-color: red;">
                    <img src="/img/Political_map_of_Canada.svg.png" alt="" border=3 height=400 width=700></img>
                </td>

		</div>
	</div>
   
</body> 
<script>  
		var test = 50000
		var temp = "<%= cumulative_cases %>"
        var temp3 = "<%= negative_cases %>"
        var temp4 = "<%= death %>"
        var temp5 = "<%= positive %>"
		var cases = temp.split(",");
        var negative_case = temp3.split(",");
        var death = temp4.split(",");
        var positive = temp5.split(",");
		var temp1 = "<%= dateCount %>"
		var temp2 = "<%= date %>"
		var date_report = temp1.split(",");
		var label1 = temp2.split(",");
		// for(i =0; i<cases.length; i++)
		// {
		// 	cases[i] = cases[i] - '0'
		// 	date[i] = date[i] - '0'
		var count = cases.length -1 
		document.write("<p>Case report today:"+ negative_case[count] + "</p>")  

		// }
    	function LineChart(con) {  
            // user defined properties  
            this.canvas = document.getElementById(con.canvasId);  
            this.minX = con.minX;  
            this.minY = con.minY;  
            this.maxX = con.maxX;  
            this.maxY = con.maxY;  
            this.unitsPerTickX = con.unitsPerTickX;  
            this.unitsPerTickY = con.unitsPerTickY;  
   
            // constants  
            this.padding = 10;  
            this.tickSize = 10;  
            this.axisColor = "#555";  
            this.pointRadius = 5;  
            this.font = "10pt Calibri";  
   
            this.fontHeight = 10;  
   
            // relationships       
            this.context = this.canvas.getContext("2d");  
            this.rangeX = this.maxX - this.minY;  
            this.rangeY = this.maxY - this.minY;  
            this.numXTicks = Math.round(this.rangeX / this.unitsPerTickX);  
            this.numYTicks = Math.round(this.rangeY / this.unitsPerTickY);  
            this.x = this.getLongestValueWidth() + this.padding * 2;  
            this.y = this.padding * 2;  
            this.width = this.canvas.width - this.x - this.padding * 2;  
            this.height = this.canvas.height - this.y - this.padding - this.fontHeight;  
            this.scaleX = this.width / this.rangeX;  
            this.scaleY = this.height / this.rangeY;  
   
            // draw x y axis and tick marks  
            this.drawXAxis();  
            this.drawYAxis();  
        }  
   
        LineChart.prototype.getLongestValueWidth = function () {  
            this.context.font = this.font;  
            var longestValueWidth = 0;  
            for (var n = 0; n <= this.numYTicks; n++) {  
                var value = this.maxY - (n * this.unitsPerTickY);  
                longestValueWidth = Math.max(longestValueWidth, this.context.measureText(value).width);  
            }  
            return longestValueWidth;  
        };  
   
        LineChart.prototype.drawXAxis = function () {  
            var context = this.context;  
            context.save();  
            context.beginPath();  
            context.moveTo(this.x, this.y + this.height);  
            context.lineTo(this.x + this.width, this.y + this.height);  
            context.strokeStyle = this.axisColor;  
            context.lineWidth = 2;  
            context.stroke();  
   
            // draw tick marks  
            for (var n = 0; n < this.numXTicks; n++) {  
                context.beginPath();  
                context.moveTo((n + 1) * this.width / this.numXTicks + this.x, this.y + this.height);  
                context.lineTo((n + 1) * this.width / this.numXTicks + this.x, this.y + this.height - this.tickSize);  
                context.stroke();  
            }  
   
            // draw labels  
            context.font = "7pt Calibri";  
            context.fillStyle = "black";  
            context.textAlign = "center";  
            context.textBaseline = "middle";  
   
            for (var n = 0; n < this.numXTicks; n++) {  
            	var date = label1[n].split("-")
                var label = date[0]+"/"+date[1] 
                context.save();  
                context.translate((n + 1) * this.width / this.numXTicks + this.x, this.y + this.height + this.padding);  
                context.fillText(label, 0, 0);  
                context.restore();  
            }  
            context.restore();  
        };  
   
        LineChart.prototype.drawYAxis = function () {  
            var context = this.context;  
            context.save();  
            context.save();  
            context.beginPath();  
            context.moveTo(this.x, this.y);  
            context.lineTo(this.x, this.y + this.height);  
            context.strokeStyle = this.axisColor;  
            context.lineWidth = 2;  
            context.stroke();  
            context.restore();  
   
            // draw tick marks  
            for (var n = 0; n < this.numYTicks; n++) {  
                context.beginPath();  
                context.moveTo(this.x, n * this.height / this.numYTicks + this.y);  
                context.lineTo(this.x + this.tickSize, n * this.height / this.numYTicks + this.y);  
                context.stroke();  
            }  
   
            // draw values  
            context.font = this.font;  
            context.fillStyle = "black";  
            context.textAlign = "right";  
            context.textBaseline = "middle";  
   
            for (var n = 0; n < this.numYTicks; n++) {  
                var value = Math.round(this.maxY - n * this.maxY / this.numYTicks);  
                context.save();  
                context.translate(this.x - this.padding, n * this.height / this.numYTicks + this.y);  
                context.fillText(value, 0, 0);  
                context.restore();  
            }  
            context.restore();  
        };  
   
        LineChart.prototype.drawLine = function (dataX, dataY, label, color, width) {  
            var context = this.context;  
            context.save();  
            this.transformContext();  
            context.lineWidth = width;  
            context.strokeStyle = color;  
            context.fillStyle = color;  
            context.beginPath();  
            context.moveTo(dataX * this.scaleX, dataY * this.scaleY);
   
            for (var n = 0; n < dataY.length; n++) {  
                var pointX = dataX[n]; 
                var pointY = dataY[n];
                // draw segment  
                context.lineTo(pointX * this.scaleX, pointY * this.scaleY);  
                context.stroke();  
                context.closePath();  
                context.beginPath();  
                context.arc(pointX * this.scaleX, pointY * this.scaleY, this.pointRadius, 0, 2 * Math.PI, false);  
                context.fill();  
                context.closePath();  
   
                // position for next segment  
                context.beginPath();  
                context.moveTo(pointX * this.scaleX, pointY * this.scaleY);  
            }  
            context.restore();  
        };  
   
        LineChart.prototype.transformContext = function () {  
            var context = this.context;  
   
            // move context to center of canvas  
            this.context.translate(this.x, this.y + this.height);  
   
            // invert the y scale so that that increments  
            // as you move upwards  
            context.scale(1, -1);  
        };  
   
        window.onload = function () {  
        	var	length = parseInt(cases[count], 10)
        	if(length > 500000)
        	{
        		var max = 1000000
        	}
        	else if(length> 40000 && length < 50000)
        	{
        		var max = 50000
        	}
        	else if(length> 50000 && length < 100000)
        	{
        		var max = 100000
        	}
        	else if( length > 100000 && length < 200000)
        	{
        		var max = 200000
        	}
            else if( length > 200000 && length < 300000)
            {
                var max = 300000
            }
            else if( length > 300000 && length < 400000)
            {
                var max = 400000
            }
            else if( length > 400000 && length < 500000)
            {
                var max = 500000
            }
        	else
        	{
        		max = 40000
        	}
        	if(max > 500000)
        	{
        		var unit = 50000
        	}
        	else if(max>= 40000 && max < 50000)
            {
                var unit = 50000
            }
            else if(max>= 50000 && max < 100000)
            {
                var unit = 5000
            }
            else if( max >= 100000 && max < 200000)
            {
                var unit = 10000
            }
            else if( max >= 200000 && max < 300000)
            {
                var unit = 10000
            }
            else if( max >= 300000 && max < 400000)
            {
                var unit = 15000
            }
            else if( max >= 400000 && max < 500000)
            {
                var unit = 50000
            }
        	else if(max>= 20000 && max < 40000)
        	{
        		var unit = 2000
        	}
        	else
        	{
        		var unit = 1000
        	}
            var myLineChart = new LineChart({  
                canvasId: "myCanvas",  
                minX: 0,  
                minY: 0,  
                maxX: 32,  
                maxY: max,  
                unitsPerTickX: 1,  
                unitsPerTickY: unit  
            });  
            myLineChart.drawLine(date_report, cases, label1, "blue", 3);
            myLineChart.drawLine(date_report, negative_case, label1, "red", 3);
            myLineChart.drawLine(date_report, death, label1, "black", 3);
            myLineChart.drawLine(date_report, positive, label1, "yellow", 3);
   
        };  

    </script>   
</html> 